.cards-display {
    background-image: url('/public/images/background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 80vh;
    justify-content: center;
    background-color: purple;
}